.details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 180px 2fr;
  grid-template-columns: 180px 2fr;
  grid-template-areas:
    "sidebar message"
    "sidebar rating"
    "description description"
    "favourites favourites";
}
img {
  width: 150px;
  border: 2px solid #999;
}
.profile-pic {
  height: 200px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
}
.message {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: message;
}
.message button {
  background: #c9c9c9;
  border: 2px solid #666666;
  border-radius: 10px;
  height: 85px;
  padding: 0 30px;
  font-size: 1.2em;
}
.rating {
  font-size: 2em;
  color: #c9c9c9;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: rating;
  i.dark {
    color: #333;
  }
}
.desc {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: description;
  width: 600px;
}
.desc p {
  padding-top: 30px;
}
.favourites {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: favourites;
  padding: 10px 0;
  table {
    border: 1px solid;
    width: 600px;
    text-align: center;
    thead > tr {
      background: #c6c6c6;
    }
    th {
      font-weight: bold;
      width: 50%;
    }
    th,
    td {
      padding: 10px;
    }

    tbody > tr:nth-child(even) {
      background: #f6f6f6;
    }
  }
}
